spring:
  application:
    name: cheek

  jackson:
    time-zone: Asia/Seoul

  datasource:
    url: ENC(i7DpwZe5UCcklnbWMuU5fMSkhhYx/NbVGKEQTYcqOZM7ZzwM8RyDWyonQJfXec3m3oVWFXaAetVolbExIzCzHZAfcS8qPND4cqQjwAuTapUWU9+IemUZ1w==)
    username: ENC(F14FnQmrzY9c7en+5y+IHQ==)
    password: ENC(t56hI2u4CWhnEbGuaYNQDnIu2eIadJRQ)
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    data:
      host: localhost
      port: 6379
      password: ENC(QmJ35aHgY04UPrv34nIlcWAzqxbL/wbt)

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
#        show_sql: true
        show_sql: false
#        format_sql: true
        format_sql: false

  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://hauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
        registration:
          kakao:
            client-id: ENC(ulWcFPORkulXQN0BaioV86QzYBxpPCXnPz5CPM6h1mcmAFC8Ry9ll6zcSe0HMq7d)
            client-authentication-method: client_secret_post
            redirect-uri: http://localhost:8080/auth/kakao/callback
            authorization-grant-type: authorization_code
            client-name: kakao
            scope: account_email

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  mail:
    protocol: smtp
    host: smtp.gmail.com
    port: 587
    username: ENC(BkmpGlE6yb5IhDgepvh8/WDb7dAZDONvA5xqnlvJL90=)
    password: ENC(/sjzX1ustHYuT4YrFI5h7XDca1H8BeE6IV1cCSPd08Y=)
    default-encoding: utf-8
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
    auth-code-expiration-millis: 180000

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace

jasypt:
  password: ${PASSWORD}

cloud:
  aws:
    stack:
      auto: false
    region:
      static: us-east-1
    s3:
      bucket-name: dmu.cheek.2024
    credentials:
      access-key: ENC(k4b2AANtVO5dUO3xGwK40j6hvzGPK0JHPchlCrDUPTY=)
      secret-key: ENC(to0fxpyQh8zDNZhnbfWVxcgAu6JNMYnZSnE0Vb9e8W96Ox2JXniVW8OIjeA3wEblxuB8Ip5+UvA=)

springdoc:
  swagger-ui:
    path: /api-test  # swagger-ui 접근 경로에 대한 별칭
    groups-order: DESC # path, query, body, response 순으로 출력
    tags-sorter: alpha # 태그를 알파벳 순으로 정렬
    operations-sorter: method  # delete - get - patch - post - put 순으로 정렬, alpha를 사용하면 알파벳 순으로 정렬 가능
  paths-to-match:
    - /** # swagger-ui에 표시할 api의 엔드포인트 패턴

jwt:
  issuer: sejyom
  secret_key: ENC(qMuPlTL7ENdTfyF4p1jK2uIib0MSFauc)
  access-token-expiration-time: 900000 #15분
  refresh-token-expiration-time: 1209600000 #2주

apple:
  team:
    id: ENC(WXsOYzTDb6S/iEjAMwreGeadF/kwU4Hv)
  login:
    key: ENC(v4WF4a3PXtcbsYfQVD3EssypArZuNpJX)
  client:
    id: hugesilver.dev.CHEEK
  redirect-url: https://leadme.store/auth/apple/callback
  key:
    path: classpath:/key/AuthKey.p8