spring:
  application:
    name: cheek

  datasource:
    url: ENC(n56+9rtLrf+B12JU3ffKsWxOl+RFcVtv+b4YlJ67avltXIabj9hkeD/Ys0RY8jC7SJ134uA+ewWRWvwgDvlkcZ/9k3oiKj5T1qgwbZJGr5z7+Bgji6NCukJXsYKCE1glhi8napBYZOY4rWhZMl+RPG7Ne24fwO6tlmp+Wix0fLY=)
    username: ENC(1dFjvNmu/z/590fDpymXag==)
    password: ENC(L4rr2E2gmUkojuKvGytcGdltwh3Ojo1S)
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    opn-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://hauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
        registration:
          kakao:
            client-id: ENC(ANR+g2pVhsxkaB17EC6P9ti8yiCmgFSxzCrE8p541uIZogoyYRR6TBQjh/r0HyuF)
            client-secret: ENC(DpKkK7N2gPj3upAtvf417IQDAAkiqgpvswX3KaUhp8WwnKrtRN08TUIcGC02yQF3)
            client-authentication-method: client_secret_post
            redirect-uri: http://localhost:8080/auth/kakao/callback
            authorization-grant-type: authorization_code
            client-name: kakao
            scope: account_email

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace

jasypt:
  password: ${PASSWORD}

jwt:
  header: Authorization
  secret: ENC(zkmSjc5Nt3TYzkJpos6m9Q==)
#  secret: QhEh123
  access-token-validity-in-seconds: 6000000 #100 min
  refresh-token-validity-in-seconds: 1209600000 #15 days
  token:
    prefix: Bearer

file:
#  dir: /Users/sejeong/IdeaProjects/cheek/src/main/resources
  dir: /home/ubuntu/img

cloud:
  aws:
    stack:
      auto: false
    region:
      static: ap-northeast-2
    s3:
      bucket-name: cheek
    credentials:
      access-key: ENC(PgCmDbWnqTNkXUhib6ZoV7IOScmSF+6ImwxuO9/DgO8=)
      secret-key: ENC(Hm/Loje66iPAf0X54EXsYW3tuD3w+34dE1ncQxI9G5A3H2EYIlwQaBNKhSZjOpaE0pc7kdVzTw0=)
